@font-face {
  font-family: 'Maehongson';  /* Custom font name */
  src: url('assets/Maehongson.ttf') format('truetype');  /* Path to the font file */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: 'Maehongson'!important
}

button,
.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
  font-family: 'Maehongson'!important
}
